.Map-info {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    margin: 12px;
    border-radius: 4px;
  }

.map-container {
  height: 870px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.companyimg{
  width:240px;
  margin-left: -10px;
  margin-top: -10px;
  border-top-left-radius:15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mapboxgl-popup-content {
  border-radius: 15px !important; /* Ensure the rounded corners are applied */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2) !important;
}

.mapboxgl-canvas-container {
  position: relative;
}

