.Mapbox {
  height: calc(100% - 56px);
}

.Map-info {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 12px;
  border-radius: 4px;
  margin-top: 12px; /* 56 + 12 */
}

.map-container {
  height: 100%
}

.mapboxgl-popup-close-button {
  display: none;
}

.custom-popup{
  width:185px;
  height: fit-content;
  max-height:176px;
}

.custom-popup .coverimg {
  width:185px;
  height:87px;
  justify-content: center;
  overflow: hidden;
  border-bottom:solid 1px #F6F4F4 ;
}
.custom-popup .coverimg .companyimg{
  width:185px;
  height:87px;
  object-fit: contain !important;
  /* margin-left: -10px;
  margin-top: -10px; */
  border-top-left-radius:15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-popup .title{
  font-size: 16px;
  font-weight: 600;
  padding-left:10px ;
  margin-top:10px;
  margin-bottom: 5px;
  color: #3E3939;
}

.custom-popup .industry{
  font-size: 14px;
  font-weight: 500;
  padding-left:10px ;
  margin-top:5px;
  margin-bottom:5px;
  color: #7D8288;
}

.custom-popup .location{
  font-size: 14px;
  font-weight: 500;
  padding-left:10px ;
  margin-top:5px;
  margin-bottom:10px;
  color: #7D8288;
}


.mapboxgl-popup-content {
  border-radius: 15px !important;
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25) !important;
  height: fit-content;
  width:185px;
  padding: 0 !important;
}

.mapboxgl-ctrl{
  display: none !important;
}