/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); */
    z-index: 1000;
    display: grid;
    grid-template-columns: 423px 44px;
    cursor: auto;
  }
  
  .sidebar-header {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .close-btn {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #999;
  }
  
  .close-btn:hover {
    color: #666;
  }

  .sidebar-body {
    width : 423px;
  }
  
  .sidebar-content {
    /* padding: 20px; */
    overflow-y: auto;
    background-color: white;
    height: 100%;
  }

  .hide-button {
   align-self: center;
  }

  .hide-icon{
    display: flex;
    width: 44px;
    height: 83px;
    border: none;
    background-color: #FA4616;
    font-size: 20px;
    color: white;
    align-items: center;
    border-radius: 0 10px 10px 0;
    justify-content: center;
    cursor: pointer;
  }

  .show-button {
    align-self: center;
  }

  .hide-icon{
    display: flex;
    width: 44px;
    height: 83px;
    border: none;
    background-color: #FA4616;
    font-size: 20px;
    color: white;
    align-items: center;
    border-radius: 0 10px 10px 0;
    justify-content: center;
    cursor: pointer;
  }
  