.sidebar_res-content {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}

.edge {
  display: none;
  width: 50px;
  height: 4px;
  background-color: #cecece;
  border-radius: 30px;
  transition: background 0.2s ease;
}

.dragedge {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: fit-content;
  cursor: row-resize;
}

.dragedge:hover .edge {
  background-color: #7d8288;
}

.btn {
    display: flex;
    width: 100%;
    height: fit-content;
    position: absolute;
    justify-content: end;
  }
  
  .expand-btn {
    display: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    color: #cecece;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  
  .close-btn {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    cursor: pointer;
    color: #cecece;
    align-items: center;
    justify-content: center;
    padding: auto;
  }
  
  .close-btn:hover {
    color: #666;
  }

  .sidebar-body {
    max-width: 403px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    height: fit-content;
  }

  .company-name {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .company-name p {
    font-size: 36px;
    font-weight: 500;
    color: #3e3939;
    margin: 0;
  }

  .company-industry {
    display: flex;
    width: fit-content;
    height: 31px;
    background-color: rgba(222, 85, 52, 0.3);
    border: none;
    border-radius: 20px;
    padding: 5px 8px 5px 8px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .company-industry p {
    color: #fa4616;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
  
  .company-about {
    margin-bottom: 10px;
  }
  
  .company-about b {
    font-size: 16px;
    font-weight: 500;
    color: #3e3939;
  }
  
  .company-about p {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #7d8288;
    max-height: 72px;
  }
  
  .company-allpic {
    display: none;
    width: 403px;
    max-width: 100%;
    /* padding: 10px; */
    height: 205px;
    overflow-x: scroll;
    gap: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .company-allpic::-webkit-scrollbar {
    display: none;
  }
  
  .company-allpic .pic {
    display: flex;
    width: 268px;
    height: 203px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    /* overflow: hidden; */
  }
  
  .company-allpic .pic img {
    width: 268px;
    height: 203px;
    object-fit: contain;
  }
  
  .company-contact {
    height: fit-content;
    margin-bottom: 10px;
  }
  
  .company-contact b {
    font-size: 16px;
    font-weight: 500;
    color: #3e3939;
  }
  
  .company-info {
    display: flex;
    color: #fa4616;
    align-items: center;
    column-gap: 10px;
  }
  
  .company-info p {
    width: 323px;
    max-height: fit-content;
    margin: 5px 0;
    color: #7d8288;
  }
  
  .view-company-detail {
    color: #fa4616;
    text-decoration: underline;
    align-items: center;
    height: fit-content;
  }

@media only screen and (max-width: 431px) {
  .sidebar_res-content {
    width: 100%;
    height: 100%;
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    position: relative;
  }

  .sidebar_res-header {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 100%;
    height: fit-content;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: center;
  }

  .dragedge {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  .edge {
    display: flex;
  }

  .sidebar-body {
    height: 100%;
    position: relative;
  }

  .btn {
    box-sizing: border-box;
    margin: 0 5px;
    justify-content: space-between;
    position: relative;
    width: auto;
  }

  .expand-btn {
    display: flex;
  }

  .company-pic {
    display: none;
  }

  .company-logo {
    display: none;
  }

  .company-allpic {
    display: flex;
  }

  .sidebar_res-content::-webkit-scrollbar {
    display: none;
  }

  .sidebar_res.visible{
    .sidebar_res-content{
      overflow-y: auto;
    }
  }
}